<!-- From Uiverse.io by andrew-demchenk0 --> 
<button class="button" (click)="gotoCamera()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none" class="svg-icon"><g stroke-width="2" stroke-linecap="round" stroke="#fff" fill-rule="evenodd" clip-rule="evenodd"><path d="m4 9c0-1.10457.89543-2 2-2h2l.44721-.89443c.33879-.67757 1.03131-1.10557 1.78889-1.10557h3.5278c.7576 0 1.4501.428 1.7889 1.10557l.4472.89443h2c1.1046 0 2 .89543 2 2v8c0 1.1046-.8954 2-2 2h-12c-1.10457 0-2-.8954-2-2z"></path><path d="m15 13c0 1.6569-1.3431 3-3 3s-3-1.3431-3-3 1.3431-3 3-3 3 1.3431 3 3z"></path></g></svg>
    <span class="lable">Take a Photo</span>
  </button>
<h1>GALERIA</h1>
<section class="gallery-section" *ngIf="cameraService.getImages().length > 0; else noImages">
    <div class="wrapper">
        <div *ngFor="let image of cameraService.getImages(); let i = index" class="item">
            <div class="polaroid">
                <img [src]="image" alt="Imagen de la galería">
                <div class="caption">Imagen {{ i + 1 }}
                    <button class="arroz" (click)="deleteImage(i)">ELIMINAR</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mensaje cuando no hay imágenes -->
<ng-template #noImages>
    <p></p>
</ng-template>